*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f1f1f17a;
}

.cabecalho{
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px grey ;
}

.logo{
    width: 58px;
    padding: 4px;
    margin-left: 30px;
}

.tituloSite{
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    margin: 38px 0;
}

#introducao{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 0 15px;
    margin: 5px;
}

#data{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 20px;
}

#midia{
    width: 500px;
    height: auto;
    margin-top: 8px;
}

#midiaJS{
    width: 500px;
    height: 312;
}

#titulo{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 8px;
    font-size: 21px;
    padding: 0 15px;
    text-align: center;
}

#autor{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 8px;
    padding: 0 15px;
    text-align: center;
}

#explicacao{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 20px;
    text-align: center;
    padding: 0 15px;
}

.data{
    height: 50px;
    width: 200px;
    font-size: 16px;
    text-align: center;
    border: 2px solid black;
    color: grey;
    margin-top: 28px;
}

#texto{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: 5px;
    padding: 0 15px;
}

.botao{
    margin-top: 15px;
    height: 35px;
    width: 120px;
    background: black;
    color: #f1f1f1;
    border-width: 5px;
}

.rodape{
    background-image: url(./imagem/rodape.png);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f1f1f1;
}

.rodapeUm{
    display: flex;
    align-items: center;
}

.icon{
    width: 58px;
    padding: 5px;
}

.icon:hover{
    width: 60px;
}

.copyright{
    padding: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}

.copyrightDois{
    padding: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    font-weight: bold;
}

.copyrightDois:hover{
    text-decoration: underline;
}

.redes{
    width: 130px;
}

.iconGit{
    width: 56px;
    padding: 5px;
    cursor: pointer;
}

.iconGit:hover{
    width: 58px;
}

.iconLink{
    width: 58.2px;
    padding: 5px;
    cursor: pointer;
}

.iconLink:hover{
    width: 60.2px;
}

@media (max-width: 700px) {
    .cabecalho{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    .logo{
        margin-left: 0;
    }

    #midia{
        width: 90%;
    }

    #midiaJS{
        width: 100%;

    }

    .data{
        background: white;
    }

    .rodape{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 300px;
    }

    .rodapeUm{
        display: flex;
        flex-direction: column;
    }

    .copyright{
        text-align: center;
    }

    .copyrightDois{
        text-align: center;
        font-size: 18px;
        text-decoration: underline;
    }
}
